@import url('http://fonts.cdnfonts.com/css/magic-brush');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    overflow-x: hidden;
    /* Prevent scrolling */
    height: 100vh;
    position: relative;
    background-color: #141414 !important;
}

/* Background image (stadium) */
.background {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url('../images/stadium-1.jpg');  */
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    /* Darken the background */
    background-color: black;
}

/* Foreground container */
.foreground {
    position: absolute;
    /* top: 0; */
    left: 0;
    /* width: 100%;
    height: 100%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

/* Badminton player image */
.player {
    width: 100vw;
    height: 100vh;
    animation: swing 7s infinite ease-in-out alternate;
    position: relative;
}



/* Birdie image */
.birdie {
    width: 100px;
    position: absolute;
    top: 0%;
    right: 40%;
    animation: fly 7s infinite ease-in-out alternate;
    rotate: -10deg;
}

/* Keyframes for player swinging */
@keyframes swing {

    0% {
        transform: translatex(0%) translatey(0%)
    }

    100% {
        transform: translatex(5%) translatey(-5%)
    }

}

/* Keyframes for birdie flying */
@keyframes fly {
    0% {
        transform: translatex(50%) translatey(-10%);
    }

    100% {
        transform: translatex(20%) translatey(0%);
    }
}

@keyframes fly-small {
    0% {
        transform: translatex(50%) translatey(-10%);
    }

    100% {
        transform: translatex(20%) translatey(0%);
    }
}

.content {
    position: relative;
    /* top: 100%; */

}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.typewriter {
    position: absolute;
    right: 15%;
    /* width: 20%; */
    bottom: 30%;
}

.typewriter h1 {
    position: relative;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    /* white-space: nowrap;  */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */

}

.typewriter h1.first-line {
    position: relative;
    animation:
        typing 1.3s ease-out,
        blink-caret .3s step-end;
    animation-iteration-count: 1, 3;
    animation-fill-mode: forwards;
}

.typewriter h1.second-line {
    position: relative;
    animation:
        typing 1.5s steps(30, end),
        blink-caret .3s step-end;
    animation-delay: 1.3s;
    animation-iteration-count: 1, 4;
    animation-fill-mode: both;
}

.typewriter h1.third-line {
    position: relative;
    animation:
        typing 1.5s steps(30, end),
        blink-caret .3s step-end infinite;
    animation-delay: 3s;
    animation-fill-mode: both;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}


.navbar-nav .nav-link:hover {
    /* color: #ffcc00 !important; */
    background-color: #006e8c;

}

.navbar-nav .dropdown-item:hover {
    background-color: #84d9ff;
}

.nav-bg-navy {
    background-image: linear-gradient(to bottom right, #071230, #285aa6);
}

.navbar-brand img {

    width: 60px;
    position: absolute;
    top: 0;
}

.brand-title {
    font-size: 1.85rem !important;
    padding: 0px !important;
}


#logoModal .modal-image {
    width: 100%;
}

/* Contect Sections */

.content {
    background-color: 414141;
    color: azure
}

.content .section {
    background-color: #1f4787;
    margin: 3px;
    position: relative;
    padding: 10px 5px;
    height: 400px;
}

.content .section-body {
    position: absolute;
    top: 0px;

}

.content .section-footer {
    position: absolute;
    bottom: 15px;

}

.section-body h1,h3 {
    text-align: center;
}

.about-section {
    width: 100%;
    background: url(../images/group-1.jpg);
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-join {
    font-family: 'Magic Brush', sans-serif;
    font-size: 30px;
    background: -webkit-linear-gradient(45deg, #ffd827, #22a909);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about-join:hover {
    background: -webkit-linear-gradient(45deg, #7de7e6, #00a1ff);
    font-family: 'Magic Brush', sans-serif;
    font-size: 30px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.event-section{
    width: 100%;
    background: url(../images/tournament-3.jpg);
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-parent {
    margin-top: 10px;
}

.img-block {
    height: 200px;
    position: relative;
    background-color: #aaefffa8;
    cursor: pointer;
}

.img-holder {
    opacity: 0.7;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-block-schedule {
    background-image: url(../images/schedule-2.jpg);
}

.img-block-tournament {
    background-image: url(../images/tournament-2.jpg);
}

.img-block-community {
    background-image: url(../images/community-2.jpg);
}

.img-block>img {
    background-repeat: no-repeat;
    background-size: cover;
}

.img-block>.header {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    padding: 20px;
    background-color: #18171785;
    width: 100%;
    color: #cfcfcf;
}

.img-block>.desc {
    padding: 30px 8px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000073;
    color: #bfbdbd;
}

.img-block:hover {
    cursor: pointer;
}

.img-block:hover>.img-holder {
    opacity: 0.9;
}

.img-block:hover>.header {
    background-color: #18171785;
    font-weight: bold;
}

.img-block:hover>.desc {
    background-color: #000000b5;
}

/* Media Queries*/

/* Adjust image size for different screen sizes */
@media (max-width: 767px) {
    .player {
        left: -30%;
        max-width: 100%;
    }

    .brand-title {

        margin-left: 10%;

    }

    .birdie {
        width: 80px;
        right: 20%;
    }
}

/* Medium Screens (Tablet) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .player {
        left: -30%;
        max-width: 100%;
    }

    .brand-title {

        margin-left: 12%;
    }

    .birdie {
        width: 90px;
        right: 25%;
    }
}

/* Large Screens (Laptop) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    .player {
        max-width: 60%;
    }

    .brand-title {

        margin-left: 40%;
    }
}

/* Extra Large Screens (Desktop) - 1200px and above */
@media (min-width: 1200px) {
    .player {
        max-width: 65%;
    }

    .brand-title {

        margin-left: 40%;
    }
}





/* test stuff */

/* Container for Animated Lines */
.animated-lines {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px; /* Adjust size as needed */
    height: 180px; /* Adjust size as needed */
    overflow: hidden;
  }

  .animated-lines-h {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    overflow: hidden;
  }
  
  /* Individual Lines */
  .animated-lines::before,
  .animated-lines::after {
    content: '';
    position: absolute;
    background: linear-gradient(transparent, #00ffcc); /* Gradient color for lines */
    width: 2px; /* Line thickness */
    height: 100%;
    animation: animateY 4s linear infinite;
  }
  
  .animated-lines::before {
    left: 50%;
    animation-delay: 0s;
  }
  
  .animated-lines::after {
    left: 25%;
    animation-delay: 2s;
  }

  .animated-lines-v1::before {
    left: 45%;
    animation-delay: 1s;
  }
  
  .animated-lines-v2::after {
    left: 20%;
    animation-delay: 3s;
  }

  .animated-lines-h::before,
  .animated-lines-h::after {
    content: '';
    position: absolute;
    background: linear-gradient(transparent, #00ffcc); /* Gradient color for lines */
    height: 2px; /* Line thickness */
    width: 100%;
    animation: animateX 4s linear infinite;
  }
  
  .animated-lines-h1::before {
    bottom: 80%;
    animation-delay: 1s;
  }
  
  .animated-lines-h1::after {
    bottom: 35%;
    animation-delay: 2s;
  }

  .animated-lines-h2::before {
    left: 50%;
    animation-delay: 1s;
  }
  
  .animated-lines-h2::after {
    left: 20%;
    animation-delay: 3s;
  }
  
  /* Animation */
  @keyframes animateX {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes animateY {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }